
.vs/WebService_PaperMID_Api/v15/.suo
.vs/WebService_PaperMID_Api/v15/Server/sqlite3/db.lock
WebService_PaperMID_Api/DAL/ConexionDAL.cs
WebService_PaperMID_Api/obj/Debug/netcoreapp2.0/WebService_PaperMID_Api.csproj.CoreCompileInputs.cache
WebService_PaperMID_Api/obj/project.assets.json
WebService_PaperMID_Api/obj/WebService_PaperMID_Api.csproj.nuget.cache
WebService_PaperMID_Api/obj/WebService_PaperMID_Api.csproj.nuget.g.props
.vs/WebService_PaperMID_Api/v15/Server/sqlite3/storage.ide
WebService_PaperMID_Api/bin/Debug/netcoreapp2.0/WebService_PaperMID_Api.dll
WebService_PaperMID_Api/bin/Debug/netcoreapp2.0/WebService_PaperMID_Api.pdb
WebService_PaperMID_Api/DAL/ConexionDAL.cs
WebService_PaperMID_Api/obj/Debug/netcoreapp2.0/WebService_PaperMID_Api.csproj.CoreCompileInputs.cache
WebService_PaperMID_Api/obj/Debug/netcoreapp2.0/WebService_PaperMID_Api.dll
WebService_PaperMID_Api/obj/Debug/netcoreapp2.0/WebService_PaperMID_Api.pdb
WebService_PaperMID_Api/obj/project.assets.json
WebService_PaperMID_Api/obj/WebService_PaperMID_Api.csproj.nuget.cache
WebService_PaperMID_Api/obj/WebService_PaperMID_Api.csproj.nuget.g.props
.vs/WebService_PaperMID_Api/v15/Server/sqlite3/storage.ide
WebService_PaperMID_Api/obj/Debug/netcoreapp2.0/WebService_PaperMID_Api.csproj.CoreCompileInputs.cache
